body {
	line-height:21px;
	-x-system-font:none;
	background-color:white;
	font-family:helvetica,arial,freesans,clean,sans-serif;
	font-size:14px;
	width: 920px;
	margin-left: auto;
	margin-right:auto;
	padding-left: 40px;
	padding-right: 40px;
}

h2,h3 {
	margin: 0;
	padding: 0;
}

h1 {
	color: #474449;
	font-family: Century Gothic, sans-serif;;
}

#content {
	margin-top:2em;
}

#posts {
	float:left;
	width: 547px;
}

#sidebar {
	float: right;
	width: 26em;
}

a {
	text-decoration:none;
	color:#4183C4;
}

h2 {
	font-size: 190%;
	border:0 none !important;
	color: #474449;
}


#sub_h2 {
	color:#CCCCCC;
	font-size: 130%;
}

#sub_h3 {
	color:#CCCCCC;
	font-size: 110%;
}

p {
	font-size: 110%;
	text-align: justify;
}

#disqus_thread {
	width: 450px;
}

.clear {
	clear: both;
}

#footer {
	width: 547px;
	border-top:4px solid #EEEEEE;
	color:#666666;
	font-size:80%;
	margin-top:2em;
	padding-top: 10px;
	overflow:hidden;
	margin-bottom: 20px;
}

#atom {
	float: left;
}

#subscribe {
/*	float: right;*/
	margin-top: 10px;
	font-family:Century Gothic,sans-serif;
	font-size: 25px;
}

#sidebar_content {
	margin-left: 15px;
	border-top:2px solid #EEEEEE;
	margin-top:0.75em;
	padding-top:0.75em;
}

#atom_link img {
	border: none;
}