<div id="sidebar">
	<div id="atom">
		{% if page.lang == "en" %}
			<a href="/atom.xml" id="atom_link">
		{% else %}
			<a href="/atom_fr.xml" id="atom_link">
		{% endif %}
			<img src="/images/atom.png" alt="subscribe" />
		</a>
	</div>
	<div id="subscribe">
		<center>
		{% if page.lang == "fr" %}
			Abonnez vous au blog <br />et<br />Entrez votre email pour recevoir la newsletter
		{% else %}
			Subscribe to the Blog <br />and<br />Enter you email to get the newsletter
		{% endif %}
		<br /><br />
		<form action='http://drivemeup.com/getnotified' method='post'>
		    <input type='text' name='user[email]' />
			{% if page.lang == "en" %}
		    	<input type="submit" value="Subscribe" />
			{% else %}
				<input type="submit" value="Souscrire" />
			{% endif %}
		</form>
		</center>
	</div>
	<div class="clear"></div>
	<div id="sidebar_content">
		<br />
		<h2>Articles</h2>
		<br />
		{% if page.lang == "en" %}
			{% for post in site.categories.en %}
				<h3><a alt="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h3>
				<em id="sub_h3">{{ post.date | date_to_long_string }}</em>
			{% endfor %}
		{% endif %}
		{% if page.lang == "fr" %}
			{% for post in site.categories.fr %}
				<h3><a alt="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h3>
				<em id="sub_h3">{{ post.date | date_to_long_string }}</em>
			{% endfor %}
		{% endif %}			
		<br />
		<br />
		{% if page.lang == "en" %}
			<h2>Find us on </h2>
		{% endif %}			
		{% if page.lang == "fr" %}
			<h2>Trouvez nous sur </h2>
		{% endif %}
		<br />
		<h3><a alt="Drivemeup on Twitter" href="http://twitter.com/drivemeup">Twitter</a></h3>
		<h3><a alt="Drivemeup on Github" href="http://github.com/drivemeup/">GitHub</a></h3>
	</div>
</div>
