<!DOCTYPE html>
<html>
  <head>
	<link href="/css/dmu.css" media="screen" rel="stylesheet" type="text/css" />
    <title>{{ site.title }} | {{ page.title }}</title>
  </head>

  <body>
	{% include logo.html %}
	<div id="content">
		<div id="posts">
			<h2><a alt="{{ page.title }}" href="{{ page.url }}">{{ page.title }}</a></h2>
			<em id="sub_h2">{{ page.date | date_to_long_string }}</em>
		 	{{ content }}
		</div>
		<div id="sidebar">
			{% for post in site.posts %}
				<h3><a alt="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h3>
				<em id="sub_h3">{{ post.date | date_to_long_string }}</em>
			{% endfor %}
		</div>
		<div id="disqus_thread"></div>
	</div>
	{% include disqus.html %}
	<div class="clear"></div>
	{% include footer.html %}
	</body>
</html>