<!DOCTYPE html>
<html>
  <head>
	<link href="/css/dmu.css" media="screen" rel="stylesheet" type="text/css" />
	{% if page.lang == "fr" %}
		<title>{{ site.title_fr }} | {{ page.title }}</title>
	{% else %}
		<title>{{ site.title_en }} | {{ page.title }}</title>
	{% endif %}
  </head>

  <body>
	{% include header.html %}
	<div id="content">
		<div id="posts">
			<h2><a alt="{{ page.title }}" href="{{ page.url }}">{{ page.title }}</a></h2>
			<em id="sub_h2">{{ page.date | date_to_long_string }}</em>
		 	{{ content }}
		</div>
		{% include sidebar.html %}
		<div id="disqus_thread"></div>
	</div>
	{% include disqus.html %}
	<div class="clear"></div>
	{% include footer.html %}
	</body>
</html>